node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
.env
.env.production
storage/**
!storage/.gitkeep
screenshots/**
!screenshots/.gitkeep
screenshots/*.png
dist/**
!dist/.gitkeep
state.json